*.o
tags
include/GENERATED_*.h
include/all.h.pch
*~
*.swp
*.gcda
*.gcno
*.dSYM
test.commands_parser
test.config_parser
testcases/MYMETA.json
testcases/MYMETA.yml
testcases/blib/
testcases/pm_to_blib
*.output
*.tab.*
*.yy.c
man/*.1
man/*.xml
man/*.html
*.tar.bz2*
i3
i3-input/i3-input
i3-nagbar/i3-nagbar
i3-msg/i3-msg
i3-config-wizard/i3-config-wizard
i3-dump-log/i3-dump-log
libi3.a
docs/*.pdf
docs/*.html
!/docs/refcard.html
i3-command-parser.stamp
i3-config-parser.stamp
.clang_complete
LAST_VERSION

################################################################################
# https://raw.githubusercontent.com/github/gitignore/master/Autotools.gitignore
################################################################################

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/test-driver

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.guess
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
