*.o
i3
i3-input/i3-input
i3-msg/i3-msg
include/loglevels.h
loglevels.tmp
src/*.output
src/*.tab.*
src/*.yy.c
man/i3-msg.1
man/i3-msg.xml
man/i3-msg.html
man/i3-wsbar.1
man/i3-wsbar.xml
man/i3-wsbar.html
man/i3.1
man/i3.xml
man/i3.html
tags
