[Desktop Entry]
Type=Application
Name=i3
NoDisplay=true
GenericName=A dynamic tiling window manager
Comment=improved dynamic tiling window manager
Exec=i3
X-GNOME-WMName=i3
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
