terminal /usr/pkg/bin/urxvt
font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso8859-1

# Fullscreen
bind Mod1+41 f

# Stacking
bind Mod1+43 s

# Default
bind Mod1+26 d

# Focus
bind Mod1+44 h
bind Mod1+45 j
bind Mod1+46 k
bind Mod1+47 l

# Snap
bind Mod1+Control+44 sh
bind Mod1+Control+45 sj
bind Mod1+Control+46 sk
bind Mod1+Control+47 sl

# Move
bind Mod1+Shift+44 mh
bind Mod1+Shift+45 mj
bind Mod1+Shift+46 mk
bind Mod1+Shift+47 ml

# Workspaces
bind Mod1+10 1
bind Mod1+11 2
bind Mod1+12 3
bind Mod1+13 4
bind Mod1+14 5
bind Mod1+15 6
bind Mod1+16 7
bind Mod1+17 8
bind Mod1+18 9
bind Mod1+19 0
