# ISO 10646 = Unicode
font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1

# Use Mouse+Mod1 to drag floating windows to their wanted position
floating_modifier Mod1

# Open empty container
bindsym Mod1+Shift+Return open

# Start terminal (Mod1+Enter)
bindsym Mod1+Return exec /usr/bin/urxvt

# Start dmenu (Mod1+p)
bindsym Mod1+p exec /usr/bin/dmenu_run

# Horizontal orientation
bindsym Mod1+h split h

# Vertical orientation
bindsym Mod1+v split v

# Fullscreen (Mod1+f)
bindsym Mod1+f fullscreen toggle

# Stacking (Mod1+s)
bindsym Mod1+s layout stacking

# Tabbed (Mod1+w)
bindsym Mod1+w layout tabbed

# Default (Mod1+l)
bindsym Mod1+l layout default

# toggle tiling / floating
bindsym Mod1+Shift+space mode toggle

bindsym Mod1+u level up
#bindsym Mod1+d level down

# Kill current client (Mod1+c)
bindsym Mod1+c kill

# Restore saved JSON layout
bindsym Mod1+y restore /home/michael/i3/layout.json

# Restart i3
bindsym Mod1+Shift+c restart
# Reload i3
bindsym Mod1+Shift+j reload
# Exit i3
bindsym Mod1+Shift+l exit

# Focus (Mod1+n/r/t/d)
bindsym Mod1+n prev h
bindsym Mod1+r next v
bindsym Mod1+t prev v
bindsym Mod1+d next h

# alternatively, you can use the cursor keys:
bindsym Mod1+Left prev h
bindsym Mod1+Right next h
bindsym Mod1+Down next v
bindsym Mod1+Up prev v

# Move
bindsym Mod1+Shift+n move left
bindsym Mod1+Shift+r move down
bindsym Mod1+Shift+t move up
bindsym Mod1+Shift+d move right

# alternatively, you can use the cursor keys:
bindsym Mod1+Shift+Left move left
bindsym Mod1+Shift+Right move right
bindsym Mod1+Shift+Down move down
bindsym Mod1+Shift+Up move up

# Workspaces (Mod1+1/2/…)
bindsym Mod1+1 workspace 1
bindsym Mod1+2 workspace 2
bindsym Mod1+3 workspace 3
bindsym Mod1+4 workspace 4
bindsym Mod1+5 workspace 5
bindsym Mod1+6 workspace 6
bindsym Mod1+7 workspace 7
bindsym Mod1+8 workspace 8
bindsym Mod1+9 workspace 9
bindsym Mod1+0 workspace 10

# Move to Workspaces
bindsym Mod1+Shift+1 move workspace 1
bindsym Mod1+Shift+2 move workspace 2
bindsym Mod1+Shift+3 move workspace 3
bindsym Mod1+Shift+4 move workspace 4
bindsym Mod1+Shift+5 move workspace 5
bindsym Mod1+Shift+6 move workspace 6
bindsym Mod1+Shift+7 move workspace 7
bindsym Mod1+Shift+8 move workspace 8
bindsym Mod1+Shift+9 move workspace 9
bindsym Mod1+Shift+0 move workspace 10
