Source: i3-wm
Section: utils
Priority: extra
Maintainer: Michael Stapelberg <michael@stapelberg.de>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 6), libx11-dev, libxcb-aux0-dev (>= 0.3.3), libxcb-keysyms1-dev, libxcb-xinerama0-dev (>= 1.1), libxcb-randr0-dev, libxcb-event1-dev (>= 0.3.3), libxcb-property1-dev (>= 0.3.3), libxcb-atom1-dev (>= 0.3.3), libxcb-icccm1-dev (>= 0.3.3), asciidoc (>= 8.4.4), xmlto, docbook-xml, pkg-config, libev-dev, flex, bison, libyajl-dev, perl
Standards-Version: 3.9.1
Homepage: http://i3.zekjur.net/

Package: i3
Architecture: any
Section: x11
Depends: i3-wm, ${misc:Depends}
Recommends: i3lock, dwm-tools, i3status
Description: metapackage (i3 window manager, screen locker, menu, statusbar)
 This metapackage installs the i3 window manager (i3-wm), the i3lock screen
 locker (slightly improved version of slock), dwm-tools which contains dmenu
 and i3status, which displays useful information about your system in
 combination with dzen2. These are all the tools you need to use the i3 window
 manager efficiently.

Package: i3-wm
Architecture: any
Section: x11
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-utils
Provides: x-window-manager
Suggests: rxvt-unicode | x-terminal-emulator
Recommends: xfonts-base, libanyevent-i3-perl, libanyevent-perl, libipc-run-perl, libtry-tiny-perl
Description: an improved dynamic tiling window manager
 Key features of i3 are good support of multi-monitor setups (workspaces are
 assigned to virtual screens, i3 does the right thing when attaching new
 monitors), XRandR support, horizontal and vertical columns (think of a table)
 in tiling. Also, special focus is on writing clean, readable and well
 documented code. i3 uses XCB for asynchronous communication with X11, and has
 several measures to be very fast.
 .
 Please be aware i3 is primarily targeted at advanced users and developers.

Package: i3-wm-dbg
Architecture: any
Section: debug
Depends: i3-wm (=${binary:Version}), ${misc:Depends}
Description: Debugging symbols for the i3 window manager
 Debugging symbols for the i3 window manager. Please install this to produce
 useful backtraces before creating new tickets.
