Source: i3-wm
Section: utils
Priority: optional
Maintainer: Michael Stapelberg <michael@stapelberg.de>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 5), libx11-dev, libxcb-aux0-dev (>= 0.3.3), libxcb-keysyms1-dev, libxcb-xinerama0-dev (>= 1.1), libxcb-event1-dev (>= 0.3.3), libxcb-property1-dev (>= 0.3.3), libxcb-atom1-dev (>= 0.3.3), libxcb-icccm1-dev (>= 0.3.3), asciidoc (>= 8.4.4-1), xmlto, docbook-xml, pkg-config
Standards-Version: 3.8.0
Homepage: http://i3.zekjur.net/

Package: i3
Architecture: any
Priority: optional
Section: x11
Depends: i3-wm, ${misc:Depends}
Recommends: i3lock, dwm-tools
Description: metapackage (i3 window manager, i3lock (screen locker), dwm-tools)
 This metapackage installs the i3 window manager (i3-wm), the i3lock screen
 locker (slightly improved version of slock) and dwm-tools which contains dmenu.
 These are all the tools you need to use the i3 window manager efficiently.

Package: i3-wm
Architecture: any
Priority: optional
Section: x11
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-window-manager
Suggests: rxvt-unicode | x-terminal-emulator
Description: an improved dynamic tiling window manager
 Key features of i3 are correct implementation of Xinerama (workspaces are
 assigned to virtual screens, i3 does the right thing when attaching new
 monitors), XrandR support (not done yet), horizontal and vertical columns
 (think of a table) in tiling. Also, special focus is on writing clean,
 readable and well documented code. i3 uses xcb for asynchronous
 communication with X11, and has several measures to be very fast.
 .
 Please be aware i3 is primarily targeted at advanced users and developers.

Package: i3-wm-dbg
Architecture: any
Priority: extra
Section: debug
Depends: i3-wm (=${binary:Version}), ${misc:Depends}
Description: Debugging symbols for the i3 window manager
 Debugging symbols for the i3 window manager. Please install this to produce
 useful backtraces before creating new tickets.
