#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

config.status: configure
	dh_testdir
	touch $@

build: build-arch build-indep

build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) TERM_EMU=x-terminal-emulator
	$(MAKE) -C man
	$(MAKE) -C docs

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/i3-wm
	$(MAKE) DESTDIR=$(CURDIR)/debian/i3-wm/ install
	mkdir -p $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp man/i3.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp man/i3-msg.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp man/i3-input.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp man/i3-nagbar.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp man/i3-config-wizard.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp man/i3-migrate-config-to-v4.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1
	cp i3bar/doc/i3bar.1 $(CURDIR)/debian/i3-wm/usr/share/man/man1


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installdebconf	
	dh_installinit
	dh_installman
	dh_installwm
	dh_link
	dh_strip --dbg-package=i3-wm-dbg
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
